<div class="container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input matInput placeholder="Enter your username" [(ngModel)]="model.name" name="name">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput type="password" placeholder="Enter your password" [(ngModel)]="model.password" name="password">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
      <div class="alternative-signup">
        <p>Or Sign Up using</p>
        <button mat-icon-button color="accent" aria-label="Sign up with Google">
          <img src="assets/icons/icons8-google-96.png" alt="Google" />
        </button>
        <button mat-icon-button color="accent" aria-label="Sign up with Facebook">
          <img src="assets/icons/icons8-facebook-96.png" alt="Google" />
        </button>
      </div>
      <div class="alternative-signup">
        <p>Not a Member?</p>
        <p>Sign Up</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
